body{width:800px;height:600px;margin: 0 auto;}
p,ol,dt,dd{font-size:18px}
footer{clear:both;background-color:#81b518;color:white;height:30px;text-align:center;}
aside{float:right;width:400px;height:420px}
aside img{width: 100%;padding-left:23px}
section{float:left;height:420px;width:400px;clear:both;}
nav{height:30px;position: relative;top:-80px;background-image: url("content/img/navigation-background.jpg");}
nav a{color:white;padding-right:10px;padding-left:10px;text-align:center;line-height: 30px;text-decoration: none;display: inline;margin:0;}
aside #imgservisi{width: 95%;padding-top:50px;padding-left:23px}
aside #imgzanas{width: 95%;padding-top:75px;padding-left:23px}
dt ,dd{
    text-align:justify;
    color:#192402
}